.Hello {
}

.Hello-wrap {
    width: min-content;
}

.Hello-title {
    color: var(--bright);
    font-size: 20vw;
    margin: 0;
}

.Hello p {
    margin: 2rem 0;
    font-size: calc(1em + 1vw);
    text-align: right;
}

.Hello-signin {
    /*text-align: center;*/
}
