.Hello {
    display: flex;
    justify-content: center;
}

.Hello-wrap {
    padding: 1em;
    margin-bottom: 8vh;
    width: min-content;
}

.Hello-title {
    color: var(--bright);
    font-size: calc(3em + 4vw + 2vh);
    margin: 0;
}

.Hello p {
    margin: 2rem 0;
    font-size: calc(1em + 1vw);
    text-align: right;
}

.Hello p:last-child {
    margin-bottom: 0;
}
