.Hello {
    align-items: center;
    background: #f89;
    box-sizing: border-box;
    color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    height: 100vh;
    padding: 5vw;
    width: 100%;
}

.Hello-wrap {
    width: min-content;
}

.Hello-title {
    color: hsla(0, 0%, 100%, 0.667);
    font-size: 20vw;
    margin: 0;
}

.Hello p {
    margin: 2rem 0;
    font-size: calc(1em + 1vw);
    text-align: right;
}

.Hello-signin {
    /*text-align: center;*/
}

.Hello-signin-link {
    background: hsla(0, 0%, 100%, 0.5);
    border: 3px solid hsla(0, 0%, 0%, 0.5);
    border-width: 0 0 5px;
    color: inherit;
    display: inline-block;
    padding: 1em 1em calc(1em - 5px);
    text-decoration: none;
}

.Hello-signin-link:hover {
    background: hsla(0, 0%, 100%, 0.667);
    color: hsla(0, 0%, 0%, 0.667);
    border-color: hsla(0, 0%, 0%, 0.667);
}
