.Radio {
    display: flex;
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.Radio .button {
    box-sizing: border-box;
    background: var(--theme-color);
}

.Radio .input {
    box-sizing: border-box;
    border: 1px solid var(--theme-color);
    font: inherit;
}

.Radio-music-side {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    height: 100%;
}

.Radio-search {
    flex: 0 0 50%;
    overflow-y: auto;
}

.Radio-player {
    flex: 0 0 50%;
    overflow-y: auto;
}

.Radio-chat-side {
    flex: 0 0 18em;
}

