.Search {
    padding: 0.5em;
}

.Search-form {
    display: flex;
}

.Search-input.Search-input.Search-input {  // woo
    display: block;
    flex: 1;
    font-size: 1.2em;
    line-height: 1;
    padding: 0.2em 0.5em 0.1em;
}

.Search-results,
.Search-result-wrap {
    background: hsl(var(--theme-hue), var(--theme-sat), 95%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
